{{> header }}
{{> nav }}

<h1>Add customer</h1>

<form method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="number" name="balance" placeholder="balance">

    <input type="submit" value="Add">
</form>

{{> footer }}
