{{> header }}
{{> nav }}

<h1>Search a customer by id</h1>

<form method="POST" id="form">
    <input type="text" name="account_num" placeholder="Account num" id="name">

    <input type="submit" value="Search">
</form>


{{#if user}}
    <h1>Hi</h1>
{{/if}}


{{> footer }}

