{{> header }}
<br>
{{> nav }}
<br>

<h1>Show all</h1>
<br>

{{#each customers}}

    <h2>{{this.name}}</h2>

    <a href="/show-single/{{this._id}}">{{this.name}}'s page</a>

    <br>

{{/each}}

<br>
{{> footer }}

