<!-- create a container for the post textarea  -->

<mat-card>
    <mat-form-field>
        <input type="text" matInput placeholder="Title" [(ngModel)]="postTitle">
    </mat-form-field>

    <mat-form-field>
        <input type="text" matInput placeholder="Order" [(ngModel)]="postOrder">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput rows="6" [(ngModel)]="postContent"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="getPostContent()" (click)="getPostOrder()">Write Post</button>
</mat-card>

